services:
  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    restart: unless-stopped
    ports:
      - "8086:8086"
    volumes:
      - influxdb-data:/var/lib/influxdb2
      - influxdb-config:/etc/influxdb2
    env_file:
      - ./env.influx

  grafana:
    image: grafana/grafana:10.4.2
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    env_file:
      - ./env.grafana
    environment:
      - GF_SERVER_DOMAIN=raspi.local
      - GF_SERVER_ROOT_URL=%(protocol)s://%(domain)s:%(http_port)s/

volumes:
  influxdb-data:
  influxdb-config:
  grafana-data:
